@use "../scss/utils/variables" as*;

.simple-list {
  .list-group-item {
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

// auth images background image 
.loginImageBg {
  background-image: url("/images/login/1.jpg");
  background-size: "cover";
  background-position: "center center";
  display: "block";
}

.loginImageBg3 {
  background-image: url("/images/login/3.jpg");
  background-size: "cover";
  background-position: "center center";
  display: "block";
}

.loginImageBg1 {
  background-image: url("/images/login/2.jpg");
  background-size: "cover";
  background-position: "center center";
  display: "block";
}

.loginImageBg4 {
  background-image: url("/images/login/2.jpg");
  background-size: "cover";
  background-position: "center center";
  display: "block";
}




.calendar-basic {
  #external-events {
    h4 {
      margin-bottom: 14px;
    }

    p {
      margin-top: 12px;
    }

    .fc-h-event {
      padding: 12px !important;
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;

      +.fc-h-event {
        margin-top: 10px;
      }

      .fc-event-main {
        font-size: 13px;
      }
    }
  }

  .calendar-default {
    .fc-daygrid-dot-event {
      .fc-event-title {
        text-overflow: ellipsis;
      }
    }

    .fc {
      td[role='presentation'] {
        border: 0;
      }

      .fc-daygrid-day-number,
      .fc-col-header-cell-cushion {
        color: $theme-body-font-color !important;
      }

      .fc-button {
        .fc-icon {
          height: 23px;
        }
      }
    }

    .fc-h-event {
      padding: 2px 4px;
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;
    }

    .fc-toolbar-chunk {
      .fc-button-group {
        ~.fc-today-button {
          margin: 0 8px;
        }
      }
    }

    .fc-theme-standard .fc-scrollgrid {
      border: 1px solid rgb(221 221 221);
      border: 1px solid var(--fc-border-color, #ddd);
    }

    .fc-scroller-liquid-absolute {
      overflow: unset !important;
    }
  }
}

// Gallery Photo Swipe
.my-gallery {
  &.gallery {
    figure {
      &.img-hover {
        a {
          >div {
            overflow: hidden;
          }
        }

        &.hover-12 {
          a {
            >div {
              background: #776aff;

              &:hover {
                img {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  >span {
    display: inline-flex !important;
    align-items: center;
    gap: 0px;
  }

  .br-selected {
    display: block;
    width: 12px;
    padding: 5px 0;
    height: 28px;
    float: left;
    background-color: #009db530;
    margin: 1px;
    text-align: center;
  }

  .br-widget {
    display: block;
    width: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
    height: 8px;
    float: left;
    background-color: #009db530;
    margin: 3px;
  }

  .br-current {
    background-color: $primary-color !important;
    color: $white !important;
  }

  .square-number {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border: 2px solid #009db557;
    background-color: rgb(255 255 255);
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    color: #009db557;
    font-weight: 600;

    &.active {
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  &.reverse {
    .square-number {
      width: 22px;
      height: 22px;
    }
  }

  .text-primary {
    color: $primary-color !important;
  }

  .text-body {
    color: $theme-body-font-color;
  }

  .star {
    color: #ffa800;
  }

  &.pill-rating-list {
    .pill-rating {
      padding: 7px 15px;
      background-color: #009db530;
      color: var(--theme-default);
      text-decoration: none;
      font-size: 13px;
      text-align: center;
      font-weight: 400;
    }

    >span {
      >span {
        &:first-of-type {
          .pill-rating {
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
          }
        }

        &:last-of-type {
          .pill-rating {
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
          }
        }
      }
    }
  }

  .current-rating {
    font-size: 20px;
    line-height: 1;
    color: var(--theme-default);
    font-weight: 400;
  }
}

.reactour__popover {
  background-color: $primary-color !important;
  color: $white !important;

  span {
    background-color: $primary-color !important;
    padding: 0 10px !important;
    border-radius: 100% !important;
    border: 1px solid $white;
    height: unset !important;
  }

  .reactour__close-button {
    top: -18px !important;
    right: -18px !important;
    color: $white;
    height: 12px;
    width: 12px;
  }

  >div[dir] {
    >button {
      display: flex !important;
      color: $white !important;

      svg {
        color: $white !important;
      }
    }
  }
}

.text-base {
  font-size: 16px;
}

// Reset Classes
.pull-right {
  float: right;
  margin-left: auto;
}

.sidebar-links {
  &::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
    opacity: 0;
  }
}

.table {
  &.table-borderless {
    thead {
      th {
        border: none;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .box-layout {
    .items-slider {
      .box-col-33 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.sidebar-title-alignment {
  margin-bottom: -2px;
}

// accordion style change
.simple-Accordion {
  .accordion-header {
    .accordion-button {
      background-color: $light-primary;
      color: $primary-color;
    }
  }
}

.Flush-Accordion {
  .accordion-header {
    .accordion-button {
      background-color: $light-success;
      color: $success-color;

      &.collapsed {
        background-color: unset;
      }
    }
  }
}

.icon-accordion {
  .accordion-header {
    .accordion-button {
      background-color: $light-secondary;
      color: $secondary-color;

      svg {
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }
  }
}

.outline-accordion {
  .accordion-header {
    .accordion-button {
      background-color: $light-primary;
      color: $primary-color;

      &.collapsed {
        background-color: unset;
      }
    }
  }
}

// basic dark card scss 
.Dark-Card {
  .bg-dark {
    color: #fff;
  }
}

// pointer class
.pointer {
  cursor: pointer;
}

.loginImageBg {
  background-image: url("/images/login/2.jpg");
  background-size: cover;
  background-position: center center;
  display: block;
}

.loginImageBg3 {
  background-image: url("/images/login/2.jpg");
  background-size: cover;
  background-position: center center;
  display: block;
}

.loginImageBg1 {
  background-image: url("/images/login/1.jpg");
  background-size: cover;
  background-position: center center;
  display: block;
}

.flatpicker-calender {
  >div {
    width: 100%;
  }
}

.rmdp-container {
  width: 100%;
}

// typeahead css
.suggestion-box {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 2px 2px #f1f3f7;
  margin-top: 5px;

  ul,
  .list-group {
    max-height: 240px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      padding: 10px 0;

      &:hover {
        span {
          color: var(--primary-color);
        }

        svg {
          stroke: var(--primary-color);
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--theme-body-font-color);

        svg {
          width: 18px;
          height: 18px;
        }

        span {
          line-height: 1;
          margin-bottom: -3px;
        }
      }
    }
  }

  p {
    text-align: center;
    font-size: 18px;
    color: var(--light-text);
    margin: 10px 0;
  }
}

.Typeahead {
  width: 100%;

  * {
    box-sizing: border-box;

    &:before {
      box-sizing: border-box;
    }

    &:after {
      box-sizing: border-box;
    }
  }

  .tt-hint {
    display: none !important;
  }
}

.u-cf {
  &:before {
    content: ' ';
    display: none !important;
  }

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.u-hidden {
  display: none !important;
}

.u-posRelative {
  position: relative;
}

.Typeahead-spinner {
  position: absolute;
  top: 14px;
  right: 18px;
  display: none;
  color: $light-color;
}

.ProfileCard-avatar {
  svg {
    height: 18px;
    vertical-align: bottom;

    path {
      color: var(--dark-gray) !important;
    }

    polygon {
      color: var(--dark-gray) !important;
    }
  }
}

.Typeahead-hint {
  width: 100%;
  padding: 5px 8px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid var(--color-fiord);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--gray-60);
  opacity: 1;
}

.Typeahead-menu {
  position: absolute;
  top: 60%;
  left: 0;
  padding: 15px;
  z-index: 100;
  display: none;
  max-height: 110px;
  width: 100%;
  overflow: auto;
  background-color: $white;
  box-shadow: none;
  margin-top: 2px;
}

.Typeahead-menu.is-open {
  display: block;
  margin-top: 14px;
}

.Typeahead-selectable {
  cursor: pointer;

  + {
    .Typeahead-selectable {
      border-top: 1px solid var(--gray-60);
    }
  }
}

.ProfileCard {
  position: relative;
  padding: 10px;
  border: 1px solid $card-border-color !important;
  margin-bottom: 10px;
  border-radius: 10px;

  &:hover {
    .ProfileCard-avatar {
      border-color: var(--border-table);
    }

    color: var(--color-scarpa);
    background: var(--border-table);

    .ProfileCard-screenName {
      color: $white;
    }

    .ProfileCard-stat-label {
      color: $white;
    }
  }
}

.dzu-dropzone {
  .dzu-previewContainer {
    @media (max-width:440px) {
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .dzu-inputLabelWithFiles {
    @media (max-width:440px) {
      margin-top: 33px;
    }
  }
}

.ProfileCard-avatar {
  position: absolute;
  border-radius: 5px;
}

.ProfileCard-details {
  padding-left: 0;
  float: left;
  width: 100%;
}

.bookmark-dropdown {
  .ProfileCard-details {
    padding-left: 30px;
  }
}

.ProfileCard-realName {
  display: flex;
  justify-content: space-between;

  .realname {
    color: #454141;

    svg {
      width: 20px;
      height: 20px;
      stroke: #454141;
    }
  }

  &:hover {
    a {
      color: $primary-color;
    }

    svg {
      stroke: $primary-color;
    }
  }
}

.ProfileCard-screenName {
  display: inline-block;
  color: var(--dark-gray);
}

.ProfileCard-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
}

.ProfileCard-stats {
  float: right;
  text-align: right;
}

.ProfileCard-stat {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  + {
    .ProfileCard-stat {
      margin-left: 5px;
    }
  }
}

.ProfileCard-stat-label {
  color: var(--dark-gray);
  font-weight: 500;
}

.ProfileCard.is-active {
  color: $white;
  background: var(--theme-default);

  .ProfileCard-screenName {
    color: $white;
  }

  .ProfileCard-stat-label {
    color: $white;
  }
}

.EmptyMessage {
  position: relative;
  padding: 10px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.Typeahead-spinner {
  width: 1rem;
  height: 1rem;
}

.cal-datepicker {
  &.widget-calender {
    @media (max-width:710px) {
      width: 100%;
    }
  }
}

.datepicker-here {
  width: 100%;

  .react-datepicker {
    border: none;
    width: 100%;

    .react-datepicker__navigation-icon {
      &:before {
        border-color: #52526ccc;
      }
    }

    .react-datepicker__navigation--previous {
      left: 0;
    }

    .react-datepicker__navigation--next {
      right: 0;
    }

    .react-datepicker__month-container {
      width: 100%;

      .react-datepicker__header {
        background-color: unset;
        border: none;

        .react-datepicker__current-month {
          font-size: 20px;
        }

        .react-datepicker__day-names {
          @media (max-width:710px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          }

          .react-datepicker__day-name {
            font-size: 14px;
            width: 2.25rem;
            font-weight: 600;

            @media (max-width:710px) {
              width: auto;
            }
          }
        }
      }

      .react-datepicker__month {
        .react-datepicker__week {
          @media (max-width:710px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          }

          .react-datepicker__day {
            width: 2.25rem;

            @media (max-width:710px) {
              width: auto;
            }

            @media (max-width:480px) {
              width: 1.75rem;
            }

            &.react-datepicker__day--today {
              background-color: $success-color;
              color: $white;
              border-radius: 5px;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                border: 2px solid var(--white);
                background: $danger-color;
                right: -3px;
                border-radius: 50%;
                top: -2px;
              }
            }

            &:hover {
              background-color: $primary-color;
              color: $white;
            }

            &.react-datepicker__day--selected {
              background-color: $primary-color;
              color: $white;
              position: relative;
              box-shadow: 0px 0px 13px 0 rgba(115, 102, 255, 0.5);
            }
          }
        }
      }
    }
  }
}

.school-manage {
  .datepicker-here {
    .react-datepicker {
      .react-datepicker__month-container {
        .react-datepicker__header {
          .react-datepicker__day-names {
            .react-datepicker__day-name {
              width: 1.7rem;

              @media (min-width:1399px) and (max-width:1499px) {
                width: 1.25rem;
              }
            }
          }
        }

        .react-datepicker__month {
          .react-datepicker__week {
            .react-datepicker__day {
              width: 1.7rem;

              @media (min-width:1399px) and (max-width:1499px) {
                width: 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}

.dzu-dropzone {
  overflow: hidden;
  min-height: 200px;
  border: 0;
  padding: 50px;

  .dzu-inputLabel {
    text-align: center;
    margin: 25px 0;

    .dz-message {
      .icon-cloud-up {
        font-size: 50px;
        color: var(--body-font-color);
      }

      h6 {
        color: var(--bs-heading-color);
        font-weight: 500;
        font-size: 14px;
        font-family: Inter, sans-serif;
      }

      .note {
        color: var(--body-font-color);
        font-weight: 400;
        font-size: 14px;
        font-family: Inter, sans-serif;
      }
    }
  }
}

.common-img-size {
  width: 100%;
  height: 100%;
  inset: unset;
}